
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1497514988462'); /* IE9*/
  src: url('iconfont.eot?t=1497514988462#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1497514988462') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1497514988462') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1497514988462#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before { content: "\e800"; }

.icon-up:before { content: "\e801"; }

.icon-next:before { content: "\e802"; }

.icon-address:before { content: "\e803"; }

.icon-minus:before { content: "\e804"; }

.icon-complete:before { content: "\e805"; }

.icon-down:before { content: "\e806"; }

.icon-phone:before { content: "\e807"; }

.icon-plus:before { content: "\e808"; }

.icon-closesolid:before { content: "\e809"; }

.icon-close:before { content: "\e80a"; }

.icon-success:before { content: "\e80b"; }

.icon-search:before { content: "\e80c"; }

.icon-radio:before { content: "\e80d"; }

.icon-bag:before { content: "\e80e"; }

.icon-edit:before { content: "\e80f"; }

.icon-comment:before { content: "\e810"; }

.icon-dress:before { content: "\e811"; }

.icon-entertainment:before { content: "\e812"; }

.icon-praisehollow:before { content: "\e815"; }

.icon-praisesolid:before { content: "\e816"; }

.icon-like:before { content: "\e81c"; }

.icon-makeup:before { content: "\e817"; }

.icon-tie:before { content: "\e818"; }

.icon-sport:before { content: "\e819"; }

.icon-liked:before { content: "\e81a"; }

.icon-nextsolid:before { content: "\e81b"; }

.icon-remind:before { content: "\e81d"; }

.icon-totop:before { content: "\e81e"; }

.icon-vip:before { content: "\e81f"; }

.icon-kinghat:before { content: "\e821"; }

.icon-counttime:before { content: "\e822"; }

.icon-dinner:before { content: "\e823"; }

.icon-location:before { content: "\e824"; }

.icon-camera:before { content: "\e825"; }

.icon-bianxin:before { content: "\e826"; }

.icon-life:before { content: "\e827"; }

.icon-accessory:before { content: "\e828"; }

.icon-card:before { content: "\e829"; }

.icon-wifi:before { content: "\e82a"; }

.icon-park:before { content: "\e82b"; }

.icon-tel:before { content: "\e82d"; }

.icon-remark:before { content: "\e83c"; }

.icon-wifi1:before { content: "\e83d"; }

.icon-starsolid:before { content: "\e83e"; }

.icon-halfstar:before { content: "\e83f"; }

.icon-starhollow:before { content: "\e840"; }

.icon-coupon:before { content: "\e842"; }

.icon-tag:before { content: "\e843"; }

.icon-flashbuy:before { content: "\e844"; }

.icon-exclamation:before { content: "\e846"; }

.icon-okbtn:before { content: "\e845"; }

.icon-uploadPic:before { content: "\e849"; }

.icon-thread:before { content: "\e848"; }

.icon-remark2:before { content: "\e847"; }

.icon-portrait:before { content: "\e851"; }

.icon-location2:before { content: "\e850"; }

.icon-up-solid:before { content: "\e852"; }

.icon-down-solid:before { content: "\e853"; }

.icon-leftarrow:before { content: "\e854"; }

